html
    head
        meta(charset="UTF-8")
        title CMS - Reset Password
    body
        h2 Hello, #{ firstName } #{ lastName }
        div Bạn đã yêu câu khôi phục mật khẩu
        a(href=href) KHÔI PHỤC MẬT KHẨU